<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fidelyo.barcodescanner">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".ActivityBarcodeScanner"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" />
    </application>

</manifest>